* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "fonts",sans-serif;
  background-image: url(../image/jackson-case-GpurKgjMQV4-unsplash.jpg);
}

header ul, li, a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

header {
  background-color: #cfbfb0;
  width: 75%;
  height: 70px;
  margin: 0px auto;
  border-bottom: 1px solid #fff;
  -webkit-transition-property: width,height;
  transition-property: width,height;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 0.7%;
}

header li {
  margin-left: 5%;
}

header li:hover {
  width: 8%;
  height: 10px;
  font-style: italic;
}

header a:hover {
  color: #EEEDE7;
}

header #menu {
  width: 80%;
  height: 40px;
  margin: 0px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  float: right;
  margin-top: 20px;
}

header .cleaner {
  clear: both;
}

#wrap {
  width: 75%;
  height: auto;
  background-color: #cfbfb0;
  margin: 0px auto;
}

#wrap h1 {
  letter-spacing: 6px;
  word-spacing: 6px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  padding-top: 40px;
  color: var(--light);
  text-shadow: 5px 5px 9px #000;
}

#wrap hr {
  width: 5%;
  height: 1px;
  margin-left: 54%;
  margin-top: 0px;
  margin-bottom: 2%;
}

#wrap #down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  margin: 1% auto;
}

#wrap #down #pict {
  width: 30%;
  height: auto;
  margin-top: -10%;
  margin-left: 10%;
}

#wrap #down #pict img {
  height: 400px;
  margin-left: 5%;
  z-index: 2;
  top: -50px;
}

#wrap #down #about_text {
  color: #000;
  width: 45%;
  border: 1px solid;
  border-style: inset;
  height: auto;
  margin-left: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  padding: 2%;
  font-family: "fonts",sans-serif;
}

#wrap #skils {
  width: 90%;
  height: auto;
}

#wrap #skils hr {
  width: 6%;
  height: 1px;
  margin-left: 54%;
}

#wrap #skils #blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #skils #blocs .bloc {
  width: 15%;
  height: 100px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-style: outset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 3%;
  border-radius: 5px;
  margin: 0px auto;
}

#wrap #services {
  width: 75%;
  height: 200px;
  margin: 5% auto;
}

#wrap #services h1 {
  font-size: 32px;
}

#wrap #services hr {
  width: 7%;
  margin-left: 53.5%;
}

#wrap #services #serv {
  width: 90%;
  height: 300px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #services #serv .b-serv {
  width: 25%;
  height: 100px;
}

#wrap #services #serv .b-serv .up {
  padding-left: 35%;
}

#wrap #services #serv .b-serv .d-serv {
  font-size: 16px;
  font-family: "https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap", sans-serif;
  margin-top: 4%;
  margin-left: 12%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#wrap #services #serv .b-serv .d-serv .read:hover + .more {
  display: block;
  width: 100%;
  font-size: 13px;
  z-index: 1;
  position: relative;
}

#wrap #services #serv .b-serv .d-serv .more {
  display: none;
}

#wrap #projects {
  width: 90%;
  height: auto;
  border: 1px solid;
}

#wrap #projects a {
  width: 30%;
  height: 20%;
}

#wrap #projects hr {
  width: 6%;
  height: 1px;
  margin-left: 56%;
}

#wrap #projects #projct img {
  width: 40%;
  height: 30%;
  margin-left: 8%;
  margin-top: 10px;
  cursor: pointer;
}

#wrap #projects #projct img:hover {
  opacity: 0.6;
}

#wrap #contact hr {
  margin-left: 56.5%;
  width: 5%;
}

#wrap #contact #text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #contact #text .text_left {
  width: 40%;
  height: 200px;
  margin-left: 5%;
  padding-top: 1%;
  font-size: 17px;
}

#wrap #contact #text .text_left .white {
  color: aliceblue;
}

#wrap #contact #text .medium {
  width: 10%;
  height: 200px;
  font-size: 23px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1%;
}

#wrap #contact #text .text_right {
  width: 40%;
  height: 200px;
  padding-top: 1%;
  font-size: 17px;
}

#wrap #contact #forma {
  width: 80%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0px auto;
  margin-top: 2%;
  padding-bottom: 10px;
}

#wrap #contact #forma .f_area {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#wrap #contact #forma .form1 {
  grid-gap: 10px;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#wrap #contact #forma .grid {
  display: -ms-grid;
  display: grid;
}

#wrap #contact #forma input[type=text], #wrap #contact #forma [type=email], #wrap #contact #forma select {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: white;
  border-radius: 5px;
}

#wrap #contact #forma input[type=text], #wrap #contact #forma [type=email], #wrap #contact #forma [type=submit], #wrap #contact #forma [type=reset], #wrap #contact #forma select, #wrap #contact #forma textarea:focus {
  border: 2.5px solid #fff;
}

#wrap #contact #forma input[type=submit] {
  width: 80%;
  height: 40px;
  background-color: #000;
  color: white;
  border-radius: 5px;
}

#wrap #contact #forma input[type=submit]:hover {
  background-color: #cbf2cf;
  border-radius: 5px;
}

#wrap #contact #forma input[type=reset] {
  width: 80%;
  height: 40px;
  background-color: #000;
  color: white;
  border-radius: 5px;
}

#wrap #contact #forma input[type=reset]:hover {
  background-color: #f7bdbc;
  border-radius: 5px;
}

#wrap #contact #forma .med {
  margin: 0px auto;
}

#wrap #contact #forma textarea {
  background-color: #000;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding-left: 20%;
  width: 100%;
}

#wrap #contact #forma #subject {
  margin-left: 40%;
}

footer {
  width: 75%;
  height: 50px;
  background-color: #cfbfb0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  border-top: 1px solid #fff;
}

footer #left {
  margin-left: 10%;
}

footer #left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #left ul li {
  margin-left: 10%;
}

footer #left a:hover {
  color: #EEEDE7;
}

footer #right {
  margin-left: 32%;
}
/*# sourceMappingURL=style.css.map */